body {
    background-color: white;
    padding: 10px 0px;
    margin: 0;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    font: normal 16px Helvetica,serif;
}
a { text-decoration: none; font: bold 16px Helvetica,serif; color: blue; }
#robot{
    clear: both;
    text-align:center;
    width: 320px;

}#main{
    clear: both;
    text-align:center;
    width: 320px;

}
#admin_robot_controls{
	margin-top:0px;
    width: 200px;
    text-align: center;
    margin:0 auto;
}
#robot_up_arrow{
    background:url('images/robot_move_forward_arrow.png') 0 -33px;
    margin-left:85px;
    width: 40px;
    height: 33px;
    margin-top:5px;
    
}

#robot_up_arrow:hover {
    background-position:0 0; 
    cursor: pointer; cursor: hand;
}

#robot_left_arrow{
    background:url('images/robot_move_left_arrow.png') 0 -39px;
    width: 55px;
    height: 39px;
    margin-top:20px;
    float: left;
    margin-left: 10px;
}

#robot_left_arrow:hover {
    cursor: pointer; cursor: hand;
    background-position: 0 0;
}

#robot_right_arrow{
    background:url('images/robot_move_right_arrow.png') 0 -39px;
    width: 55px;
    height: 39px;
    margin-top:20px;
    float: left;
}
#robot_right_arrow:hover {
    cursor: pointer; cursor: hand;
    background-position: 0 0;
}

span.button_wrapper {
	display: inline-block;
	padding-left: 10px;
	background: url('images/button_left.png') no-repeat top left;
}
.button_wrapper a {
	display: block;
	padding-right: 10px;
	text-decoration: none;
	background: url('images/button_right.png') no-repeat top right;
}
.button_wrapper span {
	height: 29px;
	padding: 5px 10px;
	display: block;
    background: url('images/button_middle.png') repeat-x top;
}
.button_wrapper a { color: black; font: bold 16px Helvetica,serif;}
#status {
    font-weight:bold;
}
input.button_wrapper {
	height: 29px;
	width: 76px;
	border: 0;
	background: url('images/submit_button.png') no-repeat top left;
}
#pan_control{
    background:url('images/camera_pan_3states.png') 0px -90px;
    width: 130px;
    height: 45px;
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
}
#pan_right {
	background:url('images/camera_pan_3states.png') -85px -90px;
    width: 45px;
    height: 45px;
    float: right;
}
#pan_right:hover {
    cursor: pointer; cursor: hand;
	background-position:-85px 0;
}
#pan_left {
	background:url('images/camera_pan_3states.png') 0px -90px;
    width: 45px;
    height: 45px;
    float:left;
}
#pan_left:hover {
    cursor: pointer; cursor: hand;
	background-position:0px -45px;
}
#login_label{
    margin-left: 10px;
    text-align: left;
    color: #000080;
    font: bold 16px Helvetica,serif;

}
ul {
    list-style-type:none;
    text-align:center;
    padding:0px;
    margin:0px;
    margin-bottom: 10px;
}
ul a{
    color: black;
    font: bold 18px Helvetica,serif;
}
li{
    background-color:#eee;
    padding: 20px 0px;
    border-top:thin solid #000;
    border-bottom:thin solid #000;
}
li a{
    color: black;
    font: bold 16px Helvetica,serif;
}
li:hover{
    background-color: #fff;
}
input{
    width: 90%;
}
